/* My Style */
/* ============================= */
/* General */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Lato", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}

input,
input[type=text]:focus {
  border: none;
}


/* Default values */
.title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-align: center;  
}

.my-button {
  display: inline-block;
  font-size: 1rem;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  width: 165px;
  height: 45px;
  margin: 0 auto;
  padding: 5px;
  line-height: 2.1;
  text-transform: uppercase;
}

.min-height{
  min-height: 680px;
}

.price-height{
  min-height: 20px;
}

.h-184{
  height: 184px;
}

hr.line-red{   
  border: 0;
  height: 3px;
  background-color: red;
  width: 100px;
  margin: 8px auto;
}

hr.line-white{   
  border: 0;
  height: 3px;
  background-color: #FFFFFF;
  width: 100px;
  margin: 8px auto;
}

.top-50{
  padding: 50px 0;
}

.top-100{
  padding: 100px 0;
}




/* Section Main Slider */
.main-slider {
  display: flex;
  min-height: 600px;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url('img/main-slider.jpg');
  background-size: cover;
  background-position: 50% 50%;
  text-transform: uppercase;
  font-weight: bold;
}

.slider-content {
  background: rgba(95, 95, 95, 0.53);
  padding: 40px 50px;
  color: white;
  text-align: center;
}

.slider-content_description {
  padding-bottom: 20px;
  font-size: 1.5rem;
  color: rgb(207, 206, 206);
}

.slider-content_heading {
  padding-bottom: 5px;
  font-size: 2rem;
  font-weight: bold;
}

.slider-content_button {
  font-weight: normal;
  background-color: red;
  transition: 0.6s;
}

.slider-content_button:hover {
  background-color: white;
  border-color: red;
  color: red;
}


/* Section Form Trial Lessons */

.form-trial {
  background: #929292;
  color: white;
}

.form-trial_title {
  padding-bottom: 28px;
}



.fr-tr {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.2;
}

.fr-tr_description {
  padding-left: 10px;
  ;
}


/* ------ Contact Form 7 */

.my-cf7 {
  padding-top: 30px;
  display: flex;
  margin: 0 auto;
}

.my-cf7_field {
  display: flex;
  margin: 10px;
}

.my-cf7_input {
  height: 45px;
  width: 272px;
}

.form-button {
  width: 200px;
  background-color: red;
  border: 1px solid white;
  line-height: 2.1;
  color: white;
  transition: 0.6s;
}

.form-button:hover {
  color: red;
  background: #FFFFFF;
  border: 1px solid red;
}

input::placeholder {
  padding-left: 10px;
}








/* Section Sound Familiar */
.sound-familiar {
  background: #ffffff url('img/bg-img-free-img-2-1.png') no-repeat;
  background-attachment: fixed;
  background-position: center;  
  font-size: 2.5rem;
}

.left-side {}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 0 16px 0;
  color: red;
  font-weight: bold;

}


.my-col_one {
  text-align: left;
}

.my-col_two {
  padding-left: 25%;

}

.my-col_three {
  padding-left: 50%;
}

.my-col_four {
  text-align: right;
}

.rigt-side {}



/* Section Right Place */
.right-place {
  background-color: transparent;
  background-image: radial-gradient(at top left, rgba(143, 30, 30, .27) 0%, rgba(242, 41, 91, .71) 100%);
}

.right-place_title spam {
  display: block;
  color: black;
}

/* ---- Why For You 4 sections */
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.my-box {
  box-shadow: 1px 5px 39px 0px rgba(0, 0, 0, .35);
  margin: 8px 8px 8px 8px;
  padding: 41px 23px 43px 23px;
  background-color: white;
  margin: 10px;
  border-radius: 9px;
}

.w4y {
  max-width: 250px;
}

.w4y-box_icon {
  margin: 0 auto;
  text-align: center;
  height: 110px;
}

.w4y-box_title {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.1;
  color: red;
  font-weight: bold;
  height: 50px;
}

.my-box_divider {
  display: block;
  width: 123px;
  color: rgba(236, 81, 81, 0.63);
  border: 1px solid;
  margin: 20px auto;
}

.w4y-box_content {
  text-align: center;
  font-size: 1.2rem;
}



/* Section Courses */
.courses {
  
}

.courses_title {
  color: red;
  padding-bottom: 50px;
}

.box{}

.my-courses{
  width: 350px;
}

.courses-box_title {
  color: #457b9d;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

.courses-box_subtitle {
  padding-top: 12px;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  color: #54595f;
}

.courses-box_content {
  
}

.premium{
  min-height: 340px;
}

.courses-box_content li{
  font-size: 1.3rem;
  color: #636363;
}

.my-box_align{
  text-align: center;
  margin: 0 auto;  
}

.my-box_readmore{  
  border: 1px solid red;
  background: red;
  color: white;
  transition: 0.6s;
}

.my-box_readmore:hover{
  transition: 0.5s;
  background: white;
  color: red;
}

.my-box_readmore a:hover{
}


.courses-box_price{
  font-size: 2.0rem;
  /* font-weight: bold; */
  text-align: center;
  padding-bottom: 20px;
  color: #457b9d;
}


/* Section Lets Meet */
.meet{  
  background: red;
}

.meet-about-me{
  padding-top: 50px;
  /* padding-bottom: 50px; */
}

.meet-photo{
}

.meet-photo img{ 
  width: 100%;  
  border: 5px solid white;
  border-radius: 50%;
  margin-bottom: 50px;
  vertical-align: middle;

}

.meet-biography{
  color: white;
  font-size: 1.5rem;
}




/* Section Testimonials */
.testm-title{
  color: red;
}

.reviews{
  padding-top:50px;
}







/* Media Queries Bootstrap 4 */
@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .slider-content_heading {
    font-size: 1.4rem;
  }

  .slider-content_description {
    font-size: 1.1rem;
  }

  .slider-content {
    padding: 20px 10px;
  }
}

@media (max-width: 576px) {}