/* My Style */
/* ============================= */
/* General */

body{
  font-family: -apple-system,BlinkMacSystemFont,"Lato","Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px; 
}

input,
input[type=text]:focus{
  border:none;
}

/* Default values */
.title{
  font-size:2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 255, 255);  
  text-align: center;   
}

.my-button{
  display: inline-block;
  font-size: 1rem;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  width: 135px;
  height: 45px;
  margin: 0 auto;
  padding: 5px;
  line-height: 2.1;
  text-transform: uppercase;
}

/* Section Main Slider */
.main-slider {
  display: flex;
  min-height: 600px;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url('img/main-slider.jpg');
  background-size: cover;
  background-position: 50% 50%;
  text-transform: uppercase;
  font-weight: bold;
}

.slider-content {
  background: rgba(95, 95, 95, 0.53);
  padding: 40px 50px;
  color: white;
  text-align: center;
}

.slider-content_description {
  padding-bottom: 20px;
  font-size: 1.5rem;
  color: rgb(207, 206, 206);
}

.slider-content_heading {
  padding-bottom: 5px;
  font-size: 2rem;
  font-weight: bold;
}

.slider-content_button {
  font-weight: normal;
  background-color: red;
}

/* Section Form Trial Lessons */

.form-trial{
  padding: 50px 0;
  background: #929292;
  color: white;    
}

.form-trial_title {
  padding-bottom: 28px;
}



.fr-tr{
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.2;
}

.fr-tr_description{
  padding-left: 10px;;
}


/* ------ Contact Form 7 */

.my-cf7{
  padding-top: 30px;
  display: flex;
  margin: 0 auto;   
}

.my-cf7_field{
  display: flex;
  margin: 10px;
}

.my-cf7_input { 
  height: 45px;
  width: 272px;
}

.form-button{
  width: 200px;
  background-color: red;
  border: 1px solid white;
  line-height: 2.1;
  color: white;
}

input::placeholder{
  padding-left: 10px;
}








/* Section Sound Familiar */
.sound-familiar{
  background: #ffffff url('img/bg-img-free-img-2-1.png') no-repeat;
  background-attachment: fixed;
  background-position: center;
   padding: 40px;
   font-size: 2.5rem;
}

.left-side{}

.left-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 0 16px 0;
  color: red;
  font-weight: bold;

}


.my-col_one {
  text-align: left;
}

.my-col_two {
  padding-left:25% ;
  
}

.my-col_three {
  padding-left:50% ;  
}

.my-col_four {
  text-align: right;
}

.rigt-side{}







/* Media Queries Bootstrap 4 */
@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .slider-content_heading {
    font-size: 1.4rem;
  }

  .slider-content_description {
    font-size: 1.1rem;
  }

  .slider-content {
    padding: 20px 10px;
  }
}

@media (max-width: 576px) {}